Repository Lambda-School-Labs/labs9-cleaner-pos, pull requests merged in 2019-02, with the labels that each got.

#142 Color CSS Variables and Touchups
  frontend/src/components/Button.tsx
  frontend/src/components/Sidebar/Sidebar.styling.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/components/SpecialButton.tsx
  frontend/src/index.css
  frontend/src/pages/Assistants/Assistants.styling.tsx
  frontend/src/pages/Assistants/Assistants.tsx
  frontend/src/pages/Billing/Billing.Styling.tsx
  frontend/src/pages/Checkout/Checkout.styles.tsx
  frontend/src/pages/Checkout/CheckoutForm.tsx
  frontend/src/pages/Guests/Checklist.tsx
  frontend/src/pages/Guests/GuestDetail.styling.tsx
  frontend/src/pages/Guests/GuestDetail.tsx
  frontend/src/pages/Guests/Guests.styling.tsx
  frontend/src/pages/Guests/Guests.tsx
  frontend/src/pages/InviteAst/styles.tsx
  frontend/src/pages/Login/Login.styling.tsx
  frontend/src/pages/PostRegister/styles.tsx
  frontend/src/pages/Properties/Properties.styling.tsx
  frontend/src/pages/Properties/Properties.tsx
  frontend/src/pages/Properties/PropertyDetails.styling.tsx
  frontend/src/pages/Properties/PropertyDetails.tsx
  frontend/src/pages/Settings/Settings.styling.tsx
Labels: Fix, Frontend, Styling

#145 Fine-tune Landing page styling, including browser tab faviocon and title
  frontend/public/index.html
  frontend/public/lodgel.png
  frontend/public/lodgel_logo.png
  frontend/src/assets/lodgel.jpg
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/pages/LandingPage/LandingPage.styling.tsx
  frontend/src/pages/LandingPage/Landingpage.tsx
Labels: Frontend, Styling

#144 Readme update
  README.md
  backend/public/index.html
Labels: WIP, enhancement

#151 Billing page refactor
  frontend/src/App.tsx
  frontend/src/components/Accordion.tsx
  frontend/src/components/Accordion/Accordion.styles.tsx
  frontend/src/components/Accordion/Accordion.tsx
  frontend/src/components/Button.tsx
  frontend/src/pages/Accounts.tsx
  frontend/src/pages/Assistants/Assistants.styling.tsx
  frontend/src/pages/Assistants/Assistants.tsx
  frontend/src/pages/Billing/Accordion.tsx
  frontend/src/pages/Billing/Billing.Styling.tsx
  frontend/src/pages/Billing/Billing.tsx
  frontend/src/pages/Billing/CheckoutForm.tsx
  frontend/src/pages/Guests/GuestCard.tsx
  frontend/src/pages/Guests/Guests.styling.tsx
  frontend/src/pages/Guests/Guests.tsx
  frontend/src/pages/Guests/NewGuest/NewGuest.tsx
  frontend/src/pages/Lists.tsx
  frontend/src/pages/Login/Login.tsx
  frontend/src/pages/Properties/Properties.styling.tsx
  frontend/src/pages/Stay.tsx
Labels: Frontend, Styling, WIP, enhancement

#154 Adding Code of Conduct
  CODE_OF_CONDUCT.md
Labels: enhancement

#157 Ast detail wire up
  backend/src/app.ts
  backend/src/controller/assistants.ts
  backend/src/models/assistants.ts
  frontend/src/pages/Assistants/Assistants.styling.tsx
  frontend/src/pages/Assistants/AssistantsDetails.tsx
Labels: Backend, Frontend, Optimization, Styling, enhancement

#152 New Property Form CSS
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/Button.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/pages/Assistants/Assistants.styling.tsx
  frontend/src/pages/Properties/NewProperty/NewProperty.tsx
  frontend/src/pages/Properties/NewProperty/NewPropertyStyles.tsx
  frontend/src/pages/Properties/NewProperty/NewPropertyView.tsx
  frontend/src/pages/Properties/NewProperty/index.tsx
  frontend/src/pages/Properties/NewProperty/types.ts
  frontend/src/pages/Properties/Properties.styling.tsx
  frontend/src/pages/Properties/Properties.tsx
  frontend/src/pages/Properties/types.ts
Labels: Frontend, Styling, enhancement

#156 Styled Billing Page
  frontend/src/components/Accordion/Accordion.styles.tsx
  frontend/src/components/Button.tsx
  frontend/src/pages/Billing/Billing.Styling.tsx
  frontend/src/pages/Billing/Billing.tsx
  frontend/src/pages/Billing/CheckoutForm.tsx
  frontend/src/pages/__tests__/Billing.spec.tsx
  frontend/src/pages/assets/Success.svg
Labels: Fix, Frontend, Styling

#161 limit ast ability to see properties and guests.
  backend/src/controller/houses.ts
  backend/src/controller/stays.ts
  backend/src/models/houses.ts
  backend/src/models/stays/stays.ts
Labels: Backend, Fix

#159 Guest Form CSS
  frontend/public/index.html
  frontend/src/pages/Guests/NewGuest/Dropdown.tsx
  frontend/src/pages/Guests/NewGuest/NewGuest.tsx
  frontend/src/pages/Guests/NewGuest/styles.tsx
  frontend/src/pages/Guests/NewGuest/types.ts
Labels: Frontend, Styling

#160 UI Revamp
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Button.tsx
  frontend/src/components/Container.tsx
  frontend/src/components/Sidebar/Sidebar.styling.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/components/SpecialButton.tsx
  frontend/src/index.css
  frontend/src/pages/Assistants/Assistants.styling.tsx
  frontend/src/pages/Assistants/Assistants.tsx
  frontend/src/pages/Assistants/AssistantsDetails.tsx
  frontend/src/pages/Guests/Guests.styling.tsx
  frontend/src/pages/Guests/Guests.tsx
  frontend/src/pages/Properties/Properties.styling.tsx
  frontend/src/pages/Properties/Properties.tsx
Labels: Frontend, Styling

#163 More README updates
  README.md
Labels: enhancement

#162 Better DropDowns and Edit Properties
  backend/src/models/houses.ts
  frontend/src/components/Button.tsx
  frontend/src/components/DropDown.tsx
  frontend/src/components/index.ts
  frontend/src/index.css
  frontend/src/pages/Assistants/Assistants.styling.tsx
  frontend/src/pages/Guests/AstDropdown/Styles.tsx
  frontend/src/pages/Guests/AstDropdown/View.tsx
  frontend/src/pages/Guests/GuestDetail.styling.tsx
  frontend/src/pages/Guests/Guests.styling.tsx
  frontend/src/pages/Guests/NewGuest/styles.tsx
  frontend/src/pages/Properties/NewProperty/NewProperty.tsx
  frontend/src/pages/Properties/NewProperty/NewPropertyStyles.tsx
  frontend/src/pages/Properties/NewProperty/NewPropertyView.tsx
  frontend/src/pages/Properties/Properties.styling.tsx
  frontend/src/pages/Properties/Properties.tsx
Labels: Frontend, Styling

#164 Map activation
  backend/src/models/assistants.ts
  frontend/src/components/Leaflet/Leaflet.tsx
  frontend/src/components/__tests__/Leaflet.spec.tsx
  frontend/src/pages/Assistants/Assistants.styling.tsx
  frontend/src/pages/Assistants/AssistantsDetails.tsx
  frontend/src/pages/Billing/Billing.tsx
  frontend/src/pages/Billing/CheckoutForm.tsx
  frontend/src/pages/Guests/GuestDetail.styling.tsx
  frontend/src/pages/__tests__/Billing.spec.tsx
Labels: Fix, Frontend, Styling

#167 Color changes
  frontend/src/components/DropDown.tsx
  frontend/src/components/Sidebar/Sidebar.styling.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/index.css
  frontend/src/pages/Assistants/Assistants.styling.tsx
  frontend/src/pages/Assistants/Assistants.tsx
  frontend/src/pages/Billing/Billing.Styling.tsx
  frontend/src/pages/Billing/Billing.tsx
  frontend/src/pages/Checkout/Checkout.styles.tsx
  frontend/src/pages/Checkout/Checkout.tsx
  frontend/src/pages/Guests/GuestDetail.styling.tsx
  frontend/src/pages/Guests/GuestDetail.tsx
  frontend/src/pages/Guests/Guests.styling.tsx
  frontend/src/pages/Guests/Guests.tsx
  frontend/src/pages/Properties/Properties.styling.tsx
  frontend/src/pages/Properties/Properties.tsx
Labels: Fix, Frontend, Styling

#155 Marketing material for Landing Page
  Script.md
  frontend/src/assets/notxt_Lodgel.jpg
  frontend/src/pages/LandingPage/LandingPage.styling.tsx
  frontend/src/pages/LandingPage/Landingpage.tsx
Labels: Frontend, Styling, enhancement

#170 Property Details CSS
  frontend/src/pages/Properties/PropertyDetails.styling.tsx
  frontend/src/pages/Properties/PropertyDetails.tsx
  frontend/src/pages/Properties/PropertyLists.tsx
Labels: Frontend, Styling, enhancement

#168 Polish & Fixes
  frontend/src/App.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/pages/Billing/Billing.Styling.tsx
  frontend/src/pages/Billing/Billing.tsx
  frontend/src/pages/Billing/CheckoutForm.tsx
  frontend/src/pages/Guests/Guests.styling.tsx
  frontend/src/pages/Login/Login.tsx
  frontend/src/pages/Properties/PropertyDetails.styling.tsx
  frontend/src/pages/Properties/PropertyDetails.tsx
Labels: Fix, Frontend

#175 Property List CSS (Revised)
  frontend/src/components/Button.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/index.css
  frontend/src/pages/Assistants/Assistants.styling.tsx
  frontend/src/pages/Assistants/Assistants.tsx
  frontend/src/pages/Checkout/Checkout.styles.tsx
  frontend/src/pages/Guests/Guests.styling.tsx
  frontend/src/pages/PostRegister/PostRegister.tsx
  frontend/src/pages/PostRegister/styles.tsx
  frontend/src/pages/Properties/Properties.styling.tsx
  frontend/src/pages/Properties/Properties.tsx
Labels: Fix, Frontend, Styling, enhancement

#172 Polish & Fixes
  frontend/src/index.css
  frontend/src/pages/Login/Login.styling.tsx
  frontend/src/pages/Login/Login.tsx
  frontend/src/pages/Properties/PropertyDetails.tsx
Labels: Fix, Frontend, Styling

#173 Placeholder for empty properties and guests
  frontend/src/pages/Guests/Guests.styling.tsx
  frontend/src/pages/Guests/Guests.tsx
  frontend/src/pages/Properties/Properties.styling.tsx
  frontend/src/pages/Properties/Properties.tsx
Labels: Frontend, Styling, enhancement

#178 Add text-less logo to mobile menu bar and centered.
  Script.md
  frontend/src/components/Sidebar/Sidebar.styling.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
Labels: Frontend, Styling, enhancement

#176 Add Edit button to Guest Detail
  backend/__tests__/controllers/stay.spec.ts
  backend/knexfile.js
  backend/src/app.ts
  backend/src/controller/guests.ts
  backend/src/controller/stays.ts
  backend/src/models/stays/stays.ts
  frontend/src/pages/Guests/GuestDetail.styling.tsx
  frontend/src/pages/Guests/GuestDetail.tsx
  frontend/src/pages/Guests/Guests.styling.tsx
  frontend/src/pages/Guests/NewGuest/NewGuest.tsx
  frontend/src/pages/Guests/types.ts
Labels: Frontend, enhancement

#182 made house_alt smaller
  frontend/src/assets/house_alt.jpg
  frontend/src/pages/LandingPage/Landingpage.tsx
Labels: Styling, enhancement

#188 Polish
  backend/__tests__/controllers/assistants.spec.ts
  frontend/src/components/Sidebar/Sidebar.styling.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/index.css
  frontend/src/pages/Assistants/Assistants.styling.tsx
  frontend/src/pages/Assistants/Assistants.tsx
  frontend/src/pages/Assistants/AssistantsDetails.tsx
  frontend/src/pages/Properties/NewProperty/NewPropertyStyles.tsx
  frontend/src/pages/Properties/NewProperty/NewPropertyView.tsx
  frontend/src/pages/Properties/Properties.styling.tsx
Labels: Frontend, Styling

#189 Updates test syntax for controllers and fixes security vulnerabilities!
  README.md
  backend/__tests__/controllers/assistants.spec.ts
  backend/__tests__/controllers/email.spec.ts
  backend/__tests__/controllers/houses.spec.ts
  backend/__tests__/controllers/items.spec.ts
  backend/__tests__/controllers/lists.spec.ts
  backend/__tests__/controllers/payments.spec.ts
  backend/__tests__/controllers/users.spec.ts
  backend/package-lock.json
  frontend/package-lock.json
Labels: Fix

#192 Fix Signout and Correct dates in Datepicker
  backend/data/migrations/20190108145027_stay.js
  backend/package-lock.json
  frontend/package-lock.json
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/pages/Guests/NewGuest/NewGuest.tsx
  frontend/src/pages/Guests/NewGuest/index.ts
  frontend/src/pages/Guests/NewGuest/styles.tsx
  frontend/src/pages/__tests__/NewGuest.spec.tsx
  frontend/src/pages/utils/dateUtils.ts
  frontend/src/setupTests.js
Labels: Fix, Frontend, enhancement
