Repository Lambda-School-Labs/labs9-cleaner-pos, pull requests merged in 2019-01, with the labels that each got.

#11 Backend testing config
  .github/pull_request_template.md
  .gitignore
  .travis.yml
  backend/.prettierrc
  backend/__tests__/data.spec.ts
  backend/__tests__/server.spec.ts
  backend/data/dbConfig.js
  backend/data/seeds/users.js
  backend/jest.config.js
  backend/knexfile.js
  backend/package.json
  backend/src/server.ts
  backend/tsconfig.json
  backend/yarn.lock
  frontend/package.json
  package.json
  package.json.bak
  yarn.lock
Labels: enhancement

#24 House Routes
  backend/__tests__/controllers/houses.spec.ts
  backend/__tests__/models/houses.spec.ts
  backend/data/seeds/data/housesData.js
  backend/data/seeds/houses.js
  backend/src/app.ts
  backend/src/controller/houses.ts
  backend/src/interface/index.ts
  backend/src/models/houses.ts
  backend/src/models/users.ts
Labels: Backend, Testing

#23 Setup testing configuration & initial tests for pages
  frontend/package.json
  frontend/src/components/__tests__/Button.spec.tsx
  frontend/src/components/__tests__/Sidebar.spec.tsx
  frontend/src/components/shared_components/Button.tsx
  frontend/src/components/shared_components/Sidebar.tsx
  frontend/src/pages/__tests__/Login.spec.tsx
  frontend/src/setupTests.js
  frontend/yarn.lock
Labels: Frontend, Testing

#29 Update users.post to send out JWT
  backend/__tests__/controllers/users.spec.ts
  backend/package.json
  backend/src/controller/users.ts
  backend/src/models/users.ts
  backend/src/server.ts
  backend/yarn.lock
  yarn.lock
Labels: Backend, Testing, enhancement

#31 Add post_register component that takes in additional info from the user
  backend/package.json
  backend/src/middleware/generalMiddleware.ts
  backend/yarn.lock
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/shared_components/Form.tsx
  frontend/src/index.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/PostRegister.tsx
Labels: Backend, Frontend, enhancement

#34 (READY) Stay Resource/Routes
  backend/__tests__/controllers/stay.spec.ts
  backend/__tests__/models/stays.spec.ts
  backend/data/seeds/data/usersData.js
  backend/src/controller/houses.ts
  backend/src/controller/stays.ts
  backend/src/interface/index.ts
  backend/src/models/stays.ts
Labels: Backend, enhancement

#36 Bugfixes
  backend/__tests__/server.spec.ts
  backend/src/controller/users.ts
  frontend/src/pages/Login.tsx
  frontend/src/pages/__tests__/Login.spec.tsx
Labels: Backend, Fix, Frontend

#25 (WIP) Landing Page styled with Emotion
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/house.jpg
  frontend/src/components/shared_components/Button.tsx
  frontend/src/firebase.setup.ts
  frontend/src/index.tsx
  frontend/src/pages/Landingpage.tsx
  frontend/src/pages/__tests__/Login.spec.tsx
  frontend/yarn.lock
Labels: Frontend, Styling

#35 List item GET route
  backend/data/migrations/20190108161537_item_complete2.js
  backend/data/seeds/10-items-complete.js
  backend/data/seeds/data/afterListData.js
  backend/data/seeds/data/itemCompleteData.js
  backend/data/seeds/data/staysData.js
  backend/knexfile.js
  backend/src/app.ts
  backend/src/controller/lists.ts
  backend/src/models/lists.ts
Labels: Backend, enhancement

#41 Add Houses component & improve folder structure and import flow
  backend/__tests__/data.spec.ts
  frontend/public/manifest.json
  frontend/src/App.tsx
  frontend/src/components/__tests__/Sidebar.spec.tsx
  frontend/src/components/shared_components/Form.tsx
  frontend/src/components/shared_components/Sidebar.tsx
  frontend/src/components/shared_components/index.ts
  frontend/src/helpers/functions.tsx
  frontend/src/pages/Houses.tsx
  frontend/src/pages/__tests__/Houses.spec.tsx
  frontend/src/pages/__tests__/Login.spec.tsx
  frontend/src/pages/index.tsx
Labels: Frontend, Styling, enhancement, help wanted

#43 Special button
  frontend/src/components/shared_components/Button.tsx
  frontend/src/components/shared_components/SpecialButton.tsx
  frontend/src/components/shared_components/index.ts
  frontend/src/pages/Landingpage.tsx
Labels: Frontend, Styling

#48 updated get all house route
  backend/__tests__/controllers/users.spec.ts
  backend/__tests__/data.spec.ts
  backend/__tests__/models/users.spec.ts
  backend/data/seeds/11-house_ast.js
  backend/data/seeds/data/assistantsData.js
  backend/data/seeds/data/houseAst.js
  backend/data/seeds/data/housesData.js
  backend/data/seeds/data/managersData.js
  backend/data/seeds/data/usersData.js
  backend/src/controller/houses.ts
  backend/src/models/houses.ts
Labels: Backend, enhancement

#37 Additional Form Component (OK)
  .gitignore
  backend/__tests__/models/stays.spec.ts
  backend/__tests__/models/users.spec.ts
  backend/src/app.ts
  backend/src/controller/users.ts
  backend/src/interface/global.ts
  backend/src/middleware/errorHandler.ts
  backend/src/middleware/generalMiddleware.ts
  backend/src/middleware/verifyToken.ts
  backend/src/models/users.ts
  backend/src/server.ts
  frontend/package.json
  frontend/src/App.css
  frontend/src/index.css
  frontend/src/pages/Login.tsx
  frontend/src/pages/PostRegister.tsx
  frontend/src/pages/PostRegister/PostRegister.tsx
  frontend/src/pages/PostRegister/index.tsx
  frontend/src/pages/PostRegister/styles.tsx
  frontend/src/pages/__tests__/PostRegister.spec.tsx
  frontend/src/pages/utils/countryList.ts
  frontend/tslint.json
  frontend/yarn.lock
Labels: Frontend, Styling, enhancement

#47 Additional pages
  .gitignore
  .prettierrc
  backend/.prettierrc
  backend/package.json
  backend/yarn.lock
  frontend/package.json
  frontend/src/components/__tests__/Container.spec.tsx
  frontend/src/components/__tests__/SpecialButton.spec.tsx
  frontend/src/components/shared_components/Container.tsx
  frontend/src/components/shared_components/SpecialButton.tsx
  frontend/src/components/shared_components/index.ts
  frontend/src/pages/Houses/HouseDetails.tsx
  frontend/src/pages/Houses/Houses.styling.tsx
  frontend/src/pages/Houses/Houses.tsx
  frontend/src/pages/LandingPage/LandingPage.styling.tsx
  frontend/src/pages/LandingPage/Landingpage.tsx
  frontend/src/pages/Landingpage.tsx
  frontend/src/pages/index.tsx
  frontend/yarn.lock
  package.json
  yarn.lock
Labels: Backend, Fix, Frontend, enhancement

#54 User Settings Page
  .gitignore
  backend/__tests__/controllers/users.spec.ts
  backend/__tests__/models/houses.spec.ts
  backend/data/migrations/20190108144810_user.js
  backend/src/app.ts
  backend/src/controller/users.ts
  backend/src/middleware/verifyToken.ts
  frontend/src/App.tsx
  frontend/src/components/shared_components/Button.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/PostRegister/PostRegister.tsx
  frontend/src/pages/Settings/Settings.styling.tsx
  frontend/src/pages/Settings/Settings.tsx
  frontend/src/pages/__tests__/PostRegister.spec.tsx
  frontend/src/pages/__tests__/Settings.spec.tsx
  frontend/src/pages/index.tsx
Labels: Frontend, Testing, enhancement

#60 Add basic testing for stripe backend integration
  backend/__tests__/controllers/payments.spec.ts
  backend/src/controller/payments.ts
  frontend/src/pages/Billing/CheckoutForm.tsx
Labels: Testing

#53 Very basic Sendgrid(email) added to backend.
  backend/__tests__/controllers/email.spec.ts
  backend/package-lock.json
  backend/package.json
  backend/src/app.ts
  backend/src/controller/email.ts
  backend/src/controller/houses.ts
  frontend/package-lock.json
  package-lock.json
  package.json
Labels: Backend, Testing, enhancement

#55 Backend documentation
  backend/public/css/normalize.css
  backend/public/css/skeleton.css
  backend/public/index.html
  backend/src/app.ts
  backend/yarn.lock
Labels: Backend, enhancement

#61 Leaflet API up and running
  .gitignore
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/Leaflet/Leaflet.styling.tsx
  frontend/src/components/Leaflet/Leaflet.tsx
  frontend/src/components/__tests__/Leaflet.spec.tsx
  frontend/src/components/index.ts
  frontend/src/pages/Houses/HouseDetails.tsx
  frontend/src/pages/Map.tsx
  frontend/src/pages/index.tsx
  frontend/yarn.lock
Labels: Frontend, Styling, Testing, enhancement

#64 Stripe connect
  backend/__tests__/controllers/payments.spec.ts
  frontend/netlify.toml
  frontend/src/App.tsx
  frontend/src/pages/PostRegister/PostRegister.tsx
  frontend/src/pages/Settings/Settings.tsx
  frontend/src/pages/__tests__/Settings.spec.tsx
Labels: Fix, Frontend, enhancement

#58 Uppy added for file upload
  backend/package-lock.json
  backend/package.json
  backend/src/app.ts
  backend/src/controller/users.ts
  backend/src/middleware/verifyToken.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/FileUpload.tsx
  frontend/src/components/__tests__/FileUpload.spec.tsx
  frontend/src/components/index.ts
  frontend/src/pages/Settings/Settings.tsx
Labels: Frontend, enhancement

#67 Fixes redirects on netlify, adds backend routes for connecting stripe accounts
  backend/data/migrations/20190108144810_user.js
  backend/package-lock.json
  backend/package.json
  backend/src/app.ts
  backend/src/controller/connect.ts
  backend/src/middleware/errorHandler.ts
  backend/src/models/users.ts
  frontend/public/_redirects
  frontend/src/components/FileUpload.tsx
  frontend/src/pages/PostRegister/PostRegister.tsx
  frontend/src/pages/Settings/Settings.tsx
  frontend/src/pages/__tests__/Settings.spec.tsx
Labels: Backend, Fix, enhancement

#62 Update Stays Route/Handlers
  backend/__tests__/controllers/stay.spec.ts
  backend/__tests__/helpers/index.ts
  backend/__tests__/models/stays.spec.ts
  backend/__tests__/models/users.spec.ts
  backend/jest.config.js
  backend/public/index.html
  backend/src/app.ts
  backend/src/controller/stays.ts
  backend/src/models/stays.ts
  backend/src/models/stays/helpers.ts
  backend/src/models/stays/index.ts
  backend/src/models/stays/stays.ts
Labels: Backend, enhancement

#66 Update Styling for Login & Form Components
  frontend/src/assets/house_alt.jpg
  frontend/src/pages/Login/Login.styling.tsx
  frontend/src/pages/Login/Login.tsx
  frontend/src/pages/Login/index.ts
  frontend/src/pages/PostRegister/PostRegister.tsx
  frontend/src/pages/PostRegister/styles.tsx
  frontend/src/pages/index.tsx
Labels: Fix, Frontend, Styling, enhancement

#78 Houses functionality
  backend/src/controller/houses.ts
  frontend/src/App.tsx
  frontend/src/pages/Houses/Houses.tsx
  frontend/src/pages/Login/Login.tsx
  frontend/src/pages/Properties/Properties.styling.tsx
  frontend/src/pages/Properties/Properties.tsx
  frontend/src/pages/Properties/PropertyDetails.tsx
  frontend/src/pages/Properties/types.ts
  frontend/src/pages/__tests__/Houses.spec.tsx
  frontend/src/pages/__tests__/Properties.spec.tsx
  frontend/src/pages/index.tsx
Labels: Frontend, Testing, enhancement

#65 Assistants page
  frontend/src/App.tsx
  frontend/src/pages/Assistants/Assistants.styling.tsx
  frontend/src/pages/Assistants/Assistants.tsx
  frontend/src/pages/__tests__/Assistants.spec.tsx
  frontend/src/pages/assets/ronald.jpg
  frontend/src/pages/index.tsx
Labels: Frontend, Styling, Testing

#83 findAllHousesByAstId
  backend/__tests__/controllers/houses.spec.ts
  backend/__tests__/models/houses.spec.ts
  backend/__tests__/models/lists.spec.ts
  backend/public/index.html
  backend/src/controller/houses.ts
  backend/src/models/houses.ts
Labels: Backend, enhancement

#76 House Detail pages
  backend/__tests__/controllers/lists.spec.ts
  backend/src/controller/lists.ts
  backend/src/interface/index.ts
  backend/src/middleware/errorHandler.ts
  backend/src/models/houses.ts
  backend/src/models/lists.ts
  frontend/package-lock.json
  frontend/src/components/FileUpload.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/pages/Properties/Properties.tsx
  frontend/src/pages/Properties/PropertyDetails.styling.tsx
  frontend/src/pages/Properties/PropertyDetails.tsx
  frontend/src/pages/Properties/PropertyLists.tsx
  frontend/src/pages/Properties/types.ts
  frontend/src/pages/__tests__/PropertiesDetails.spec.tsx
  frontend/src/pages/index.tsx
Labels: Frontend, enhancement

#77 Accordion
  backend/package-lock.json
  frontend/package-lock.json
  frontend/src/App.tsx
  frontend/src/components/Accordion.tsx
  frontend/src/components/Example.tsx
  frontend/src/components/shared_components/Button.tsx
  frontend/src/pages/Billing/Accordion.tsx
  frontend/src/pages/Billing/Billing.tsx
Labels: Frontend, enhancement

#81 Checkout page
  backend/__tests__/models/stays.spec.ts
  backend/src/models/stays/stays.ts
  frontend/src/App.tsx
  frontend/src/components/Button.tsx
  frontend/src/components/Container.tsx
  frontend/src/index.css
  frontend/src/pages/Checkout/Checkout.styles.tsx
  frontend/src/pages/Checkout/Checkout.tsx
  frontend/src/pages/__tests__/Checkout.spec.tsx
  frontend/src/pages/index.tsx
Labels: Frontend, enhancement

#85 allows managers to invite assistants
  backend/__tests__/controllers/email.spec.ts
  backend/src/app.ts
  backend/src/controller/email.ts
  backend/src/controller/users.ts
  backend/src/interface/index.ts
  frontend/src/App.tsx
  frontend/src/components/Button.tsx
  frontend/src/pages/InviteAst/InviteAst.tsx
  frontend/src/pages/InviteAst/styles.tsx
  frontend/src/pages/__tests__/InviteAst.spec.tsx
  frontend/src/pages/__tests__/PropertiesDetails.spec.tsx
  frontend/src/pages/index.tsx
Labels: Frontend, enhancement

#79 Guest Detail
  backend/src/controller/houses.ts
  backend/src/models/houses.ts
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/pages/Guests/AstDropdown.tsx
  frontend/src/pages/Guests/Checklist.tsx
  frontend/src/pages/Guests/GuestCard.tsx
  frontend/src/pages/Guests/GuestDetail.styling.tsx
  frontend/src/pages/Guests/GuestDetail.tsx
  frontend/src/pages/Guests/Guests.tsx
  frontend/src/pages/Guests/types.ts
  frontend/src/pages/index.tsx
  frontend/src/pages/utils/dateUtils.ts
  frontend/src/pages/utils/index.ts
Labels: Frontend, Styling, enhancement

#89 Property form
  backend/__tests__/controllers/houses.spec.ts
  backend/data/migrations/20190108144950_house.js
  backend/src/controller/houses.ts
  frontend/src/App.tsx
  frontend/src/components/FileUpload.tsx
  frontend/src/pages/PostRegister/PostRegister.tsx
  frontend/src/pages/Properties/NewProperty/index.tsx
  frontend/src/pages/Properties/NewProperty/styles.tsx
  frontend/src/pages/Properties/NewProperty/types.ts
  frontend/src/pages/Properties/Properties.tsx
  frontend/src/pages/index.tsx
Labels: Frontend, enhancement

#90 NewGuest Form Component
  backend/src/app.ts
  backend/src/controller/guests.ts
  backend/src/controller/houses.ts
  backend/src/models/houses.ts
  backend/src/models/users.ts
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/pages/Guests/Guests.tsx
  frontend/src/pages/Guests/NewGuest/NewGuest.tsx
  frontend/src/pages/Guests/NewGuest/styles.tsx
  frontend/src/pages/Guests/NewGuest/types.ts
  frontend/src/pages/PostRegister/PostRegister.tsx
  frontend/src/pages/index.tsx
Labels: Frontend, Styling, enhancement

#91 Implements user context to handle permissions within the app
  backend/__tests__/controllers/users.spec.ts
  backend/src/controller/users.ts
  frontend/src/App.tsx
  frontend/src/pages/Checkout/Checkout.tsx
  frontend/src/pages/Login/Login.tsx
Labels: Backend, Frontend, enhancement

#87 Billing styling
  frontend/src/components/Accordion.tsx
  frontend/src/components/Example.tsx
  frontend/src/pages/Billing/Billing.Styling.tsx
  frontend/src/pages/Billing/Billing.tsx
Labels: Frontend, Styling, enhancement

#93 Reponsive Guest List
  frontend/src/pages/Guests/Guests.styling.tsx
  frontend/src/pages/Guests/Guests.tsx
  frontend/src/pages/Guests/NewGuest/NewGuest.tsx
  frontend/src/pages/Guests/NewGuest/types.ts
  frontend/src/pages/Properties/NewProperty/index.tsx
  frontend/src/pages/Properties/NewProperty/types.ts
Labels: Frontend, Styling

#95 Registration Form Responsiveness
  frontend/src/pages/PostRegister/PostRegister.tsx
  frontend/src/pages/PostRegister/styles.tsx
Labels: Frontend, Styling

#101 Responsive design for Assistants, Billing, Checkout, Guests, Properties, and InviteAst pages
  frontend/src/components/Accordion.tsx
  frontend/src/pages/Assistants/Assistants.styling.tsx
  frontend/src/pages/Billing/Billing.Styling.tsx
  frontend/src/pages/Billing/Billing.tsx
  frontend/src/pages/Properties/Properties.styling.tsx
  frontend/src/pages/__tests__/Assistants.spec.tsx
Labels: Frontend, Styling, enhancement

#100 Header bar
  frontend/src/components/Sidebar/Sidebar.styling.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
Labels: Frontend, Styling

#102 Landing page
  frontend/src/components/Sidebar/Sidebar.styling.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/index.css
  frontend/src/pages/LandingPage/LandingPage.styling.tsx
  frontend/src/pages/LandingPage/Landingpage.tsx
  package.json
Labels: Frontend, Styling

#103 Authentication on All Protected Routes
  backend/__tests__/controllers/houses.spec.ts
  backend/__tests__/controllers/items.spec.ts
  backend/__tests__/controllers/lists.spec.ts
  backend/__tests__/controllers/payments.spec.ts
  backend/__tests__/controllers/users.spec.ts
  backend/src/app.ts
  backend/src/middleware/errorHandler.ts
Labels: Backend, Testing, enhancement

#104 Custom datafetching hook
  backend/src/app.ts
  backend/src/controller/connect.ts
  backend/src/controller/users.ts
  frontend/__mocks__/react.js
  frontend/src/App.tsx
  frontend/src/helpers/index.tsx
  frontend/src/helpers/useFetch.tsx
  frontend/src/pages/Assistants/Assistants.styling.tsx
  frontend/src/pages/Assistants/Assistants.tsx
  frontend/src/pages/Assistants/AssistantsDetails.tsx
  frontend/src/pages/Billing/CheckoutForm.tsx
  frontend/src/pages/Checkout/Checkout.tsx
  frontend/src/pages/Checkout/CheckoutForm.tsx
  frontend/src/pages/Guests/AstDropdown.tsx
  frontend/src/pages/Guests/GuestDetail.tsx
  frontend/src/pages/Guests/Guests.tsx
  frontend/src/pages/InviteAst/InviteAst.tsx
  frontend/src/pages/Properties/Properties.tsx
  frontend/src/pages/Properties/PropertyDetails.tsx
  frontend/src/pages/Settings/Settings.tsx
  frontend/src/pages/__tests__/Assistants.spec.tsx
  frontend/src/pages/__tests__/Checkout.spec.tsx
  frontend/src/pages/__tests__/Guests.spec.tsx
  frontend/src/pages/index.tsx
  frontend/src/setupTests.js
Labels: Backend, Frontend, Optimization, Testing

#106 ast data by id route for astdetail
  backend/__tests__/controllers/assistants.spec.ts
  backend/src/app.ts
  backend/src/controller/assistants.ts
  backend/src/middleware/verifyToken.ts
  backend/src/models/assistants.ts
  frontend/design/.DS_Store
Labels: Backend

#109 Assistant refactor
  frontend/src/components/Leaflet/Leaflet.tsx
  frontend/src/helpers/useFetch.tsx
  frontend/src/index.css
  frontend/src/pages/Assistants/Assistants.styling.tsx
  frontend/src/pages/Assistants/Assistants.tsx
  frontend/src/pages/Assistants/AssistantsDetails.tsx
  frontend/src/pages/Assistants/types.ts
  frontend/src/pages/Guests/GuestDetail.tsx
  frontend/src/pages/Login/Login.tsx
  frontend/src/pages/Properties/Properties.tsx
  frontend/src/pages/__tests__/Assistants.spec.tsx
  frontend/src/pages/__tests__/Checkout.spec.tsx
  frontend/src/pages/__tests__/Guests.spec.tsx
  frontend/src/pages/__tests__/Login.spec.tsx
  frontend/src/pages/__tests__/Properties.spec.tsx
  frontend/src/pages/__tests__/Settings.spec.tsx
Labels: Frontend, Styling, enhancement

#108 Making the NavBar responsive and properly styled
  frontend/src/components/Sidebar/Sidebar.styling.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/components/SpecialButton.tsx
  frontend/src/components/__tests__/Sidebar.spec.tsx
Labels: Frontend, Styling, enhancement

#110 Fixes property details page
  frontend/src/pages/Properties/PropertyDetails.tsx
  frontend/src/pages/__tests__/PropertiesDetails.spec.tsx
Labels: Fix, Frontend

#115 Constrain Width App-Wide
  frontend/src/components/Button.tsx
  frontend/src/components/Container.tsx
  frontend/src/index.css
  frontend/src/pages/Assistants/Assistants.styling.tsx
  frontend/src/pages/Assistants/Assistants.tsx
Labels: Frontend, Styling, WIP, enhancement

#118 Navbar is more responsive on all pages, includes dropdown menu for space conservation
  README.md
  backend/README.md
  backend/public/index.html
  backend/src/controller/email.ts
  frontend/public/manifest.json
  frontend/src/components/Sidebar/Sidebar.styling.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/components/SpecialButton.tsx
  frontend/src/pages/Assistants/Assistants.tsx
  frontend/src/pages/LandingPage/LandingPage.styling.tsx
  frontend/src/pages/LandingPage/Landingpage.tsx
  frontend/src/pages/Landingpage.tsx
Labels: Fix, Frontend, Styling, enhancement

#116 Assistant List CSS Update
  frontend/src/components/Button.tsx
  frontend/src/pages/Assistants/Assistants.styling.tsx
  frontend/src/pages/Assistants/Assistants.tsx
  frontend/src/pages/Properties/PropertyDetails.styling.tsx
Labels: Frontend, Styling, enhancement

#119 Adds loading indicator where loading state is present
  backend/__tests__/controllers/users.spec.ts
  backend/src/app.ts
  backend/src/controller/users.ts
  frontend/src/pages/Assistants/Assistants.tsx
  frontend/src/pages/Checkout/Checkout.tsx
  frontend/src/pages/Guests/AstDropdown.tsx
  frontend/src/pages/Guests/Checklist.tsx
  frontend/src/pages/Guests/Guests.tsx
  frontend/src/pages/Properties/Properties.tsx
  frontend/src/pages/Properties/PropertyDetails.tsx
  frontend/src/pages/Settings/Settings.tsx
  frontend/src/pages/__tests__/Settings.spec.tsx
  frontend/src/pages/utils/loading.svg
Labels: Backend, Fix, Frontend, Styling

#120 Man ast default
  backend/data/seeds/data/assistantsData.js
  backend/data/seeds/data/houseAst.js
  backend/data/seeds/data/managerAssistantsData.js
  backend/data/seeds/data/usersData.js
  backend/src/controller/houses.ts
  backend/src/controller/users.ts
  backend/src/models/users.ts
Labels: Backend, enhancement

#112 Additional Responsiveness to Properties page
  frontend/src/pages/Properties/Properties.styling.tsx
  frontend/src/pages/Properties/Properties.tsx
  frontend/src/pages/Properties/PropertyDetails.styling.tsx
  frontend/src/pages/Properties/PropertyDetails.tsx
Labels: Frontend, Styling, WIP, enhancement

#121 Assistant Detail CSS
  frontend/src/components/Button.tsx
  frontend/src/components/Leaflet/Leaflet.tsx
  frontend/src/index.css
  frontend/src/pages/Assistants/Assistants.styling.tsx
  frontend/src/pages/Assistants/Assistants.tsx
  frontend/src/pages/Assistants/AssistantsDetails.tsx
Labels: Frontend, Styling

#124 Navbar is fully responsive and UI-complete at Mobile and Desktop views
  backend/src/controller/email.ts
  frontend/src/components/Sidebar/Sidebar.styling.tsx
  frontend/src/components/SpecialButton.tsx
Labels: Frontend, Styling

#125 Settings page refactor
  frontend/src/App.tsx
  frontend/src/components/Button.tsx
  frontend/src/pages/Billing/CheckoutForm.tsx
  frontend/src/pages/Guests/AstDropdown.tsx
  frontend/src/pages/Guests/Guests.styling.tsx
  frontend/src/pages/Guests/Guests.tsx
  frontend/src/pages/Login/Login.tsx
  frontend/src/pages/PostRegister/PostRegister.tsx
  frontend/src/pages/PostRegister/styles.tsx
  frontend/src/pages/Settings/Settings.styling.tsx
  frontend/src/pages/Settings/Settings.tsx
  frontend/src/pages/__tests__/PostRegister.spec.tsx
Labels: Frontend, Styling, Testing

#127 Assistant Details - Pin can be placed at or near assistant's residence (and some cosmetic changes)
  frontend/package.json
  frontend/src/components/Leaflet/33622.svg
  frontend/src/components/Leaflet/Leaflet.styling.tsx
  frontend/src/components/Leaflet/Leaflet.tsx
  frontend/src/components/Sidebar/Sidebar.styling.tsx
  frontend/src/pages/Assistants/AssistantsDetails.tsx
  frontend/src/pages/Landingpage.tsx
Labels: Frontend, Styling, enhancement

#123 Guest & Guest Detail CSS Update
  frontend/public/index.html
  frontend/src/components/Button.tsx
  frontend/src/index.css
  frontend/src/pages/Assistants/Assistants.styling.tsx
  frontend/src/pages/Billing/CheckoutForm.tsx
  frontend/src/pages/Checkout/Checkout.tsx
  frontend/src/pages/Checkout/CheckoutForm.tsx
  frontend/src/pages/Guests/AstDropdown.tsx
  frontend/src/pages/Guests/Checklist.tsx
  frontend/src/pages/Guests/GuestDetail.styling.tsx
  frontend/src/pages/Guests/GuestDetail.tsx
  frontend/src/pages/Guests/Guests.styling.tsx
  frontend/src/pages/Guests/Guests.tsx
  frontend/src/pages/InviteAst/styles.tsx
  frontend/src/pages/Login/Login.styling.tsx
  frontend/src/pages/PostRegister/styles.tsx
  frontend/src/pages/Properties/Properties.styling.tsx
  frontend/src/pages/Properties/Properties.tsx
  frontend/src/pages/Properties/PropertyDetails.styling.tsx
  frontend/src/pages/Properties/PropertyDetails.tsx
  frontend/src/pages/Settings/Settings.styling.tsx
Labels: Frontend, Styling

#137 Add strip Sub info to db
  backend/__tests__/controllers/payments.spec.ts
  backend/data/migrations/20190108144944_manager.js
  backend/package-lock.json
  backend/src/controller/payments.ts
  backend/src/controller/users.ts
  backend/src/models/manager.ts
  frontend/package-lock.json
  frontend/src/pages/Login/Login.tsx
Labels: Backend, Fix

#135 Checkout Component UX changes
  backend/src/controller/connect.ts
  backend/src/middleware/errorHandler.ts
  frontend/src/components/Leaflet/Leaflet.tsx
  frontend/src/index.css
  frontend/src/pages/Billing/CheckoutForm.tsx
  frontend/src/pages/Checkout/Checkout.styles.tsx
  frontend/src/pages/Checkout/Checkout.tsx
  frontend/src/pages/Checkout/CheckoutForm.tsx
  frontend/src/pages/Settings/Settings.tsx
  frontend/src/pages/__tests__/Checkout.spec.tsx
Labels: Frontend, enhancement

#131 Functional Check Boxes and Other Polish in Guest Detail
  frontend/src/helpers/axiosFetch.ts
  frontend/src/helpers/index.tsx
  frontend/src/helpers/useFetch.tsx
  frontend/src/pages/Assistants/Assistants.styling.tsx
  frontend/src/pages/Assistants/Assistants.tsx
  frontend/src/pages/Guests/Checklist.tsx
  frontend/src/pages/Guests/GuestDetail.styling.tsx
  frontend/src/pages/Guests/GuestDetail.tsx
  frontend/src/pages/Guests/Guests.tsx
  frontend/src/pages/Guests/types.ts
  frontend/src/pages/Properties/NewProperty/index.tsx
  frontend/src/pages/__tests__/Assistants.spec.tsx
  frontend/src/pages/__tests__/Checkout.spec.tsx
  frontend/src/pages/__tests__/Guests.spec.tsx
  frontend/src/pages/__tests__/Properties.spec.tsx
  frontend/src/pages/__tests__/PropertiesDetails.spec.tsx
Labels: Frontend, Styling, enhancement

#134 Sidebar update signout button
  frontend/src/components/Sidebar/Sidebar.styling.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/components/SpecialButton.tsx
  frontend/src/components/index.ts
Labels: Frontend, Optimization

#140 Connect payment ux
  backend/src/controller/connect.ts
  backend/src/controller/payments.ts
  frontend/src/App.tsx
  frontend/src/pages/Checkout/Checkout.styles.tsx
  frontend/src/pages/Checkout/CheckoutForm.tsx
  frontend/src/pages/Login/Login.tsx
  frontend/src/pages/PostRegister/PostRegister.tsx
  frontend/src/pages/PostRegister/styles.tsx
  frontend/src/pages/Properties/Properties.tsx
Labels: Fix, Frontend

#129 WIP - Billing Page - add confirmation
  frontend/package-lock.json
  frontend/src/components/Accordion.tsx
  frontend/src/pages/Billing/Billing.Styling.tsx
  frontend/src/pages/Billing/Billing.tsx
  frontend/src/pages/Billing/CheckoutForm.tsx
Labels: Fix, Frontend, Styling
